


#myCanvas{
   cursor:none;
   width:80%;
   height:80%;
}

.rectangle {
  height: 30px;
  width: 30px;
  background-color:red;
}
/*@media only screen and (max-device-width: 380px) {
	#myCanvas{
		width:80%;
		height:80%;
		cursor:none;
	}
} */